.App{
    display: flex;
    flex-direction: row;
}

.addColaborator{
    margin-left: 20px;
}

.mb-3, .btnForm{
    width: 250px;
}

.btnForm{
    background-color: blueviolet;
    border-color: blueviolet;
    margin-bottom: 15px;
}

.btnEliminar{
    background-color: blueviolet;
}

table {
    height: 40px;
    font-size: small;
}

table td {
    vertical-align: middle;
}

h1, h4{
    text-align: left;
}

#buscador{
    margin-bottom: 20px;
    width: 280px;
}